#subscribe {
    background-color: var(--color-gray-100);
    padding: 0 0;


    .container {
        width: 55%;

        .title {
            display: flex;
            align-items: center;
            gap: 20px;

            h2 {
                font-size: 2.5em;
            }
        }

        form {
            .alternative {
                margin: 2rem 0;
                display: grid;
                grid-template-columns: auto auto;

                .options {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }

            .form-email {
                display: grid;
                align-items: start;
                grid-template-columns: auto auto;
                gap: 1.5rem;

                .input-group {
                    position: relative;

                    i {
                        position: absolute;
                        left: 20px;
                        top: 12px;
                        font-size: 1.3em;
                    }

                    input {
                        padding-left: 50px;
                    }
                }
            }
        }
    }
}
