.switch{
    display: flex;
    justify-content: center;

    img{
        padding-top: 300px;
        position: absolute;
    }


    .switch-dark{
        background: black;
        width: 50%;
        padding-top: 150px;
        
   

        h1{
            padding-top: 10px;
            padding-bottom: 800px;
            color: white ;
            align-items: center;
            padding-left: 700px;

        }
    }

    .switch-light{
        padding-top: 150px;
        padding-right: 500px;
        width: 50%;
        border-radius: 1px;

        h1{
            padding-top: 10px;
            padding-bottom: 600px;
            padding-left: 20px;


        }

        

    }


}