@{
    ViewData["Title"] = "Ooops ! Accedd denied";
}

<section class="error-404">
    <div class="container">
        <div class="content">

            <h1>Ooops Accedd denied</h1>
            <p>It lokks i page that you not have access to.</p>

        </div>
        <nav>
            <a class="btn-theme-s" asp-action="Index" asp-controller="Home">
                <i class="fa fa-home"></i> Go to homepage
            </a>
        </nav>
    </div>
</section>
