@{
    ViewData["Title"] = "Home";
}

<section class="error-404">
    <div class="container">
        <div class="content">

            <h1>Ooops</h1>
            <p>The page was not found</p>

        </div>
        <nav>
            <a class="btn-theme-s" asp-action="Index" asp-controller="Default">
                <i class="fa fa-home"></i> Go to homepage
            </a>
        </nav>
    </div>
</section>
