@mixin standard-text {
    line-height: 160%;
    font-weight: 400;
    color: var(--color-gray-700);
    font-family: var(--font-standard);
}

@mixin standard-heading {
    @include standard-text();
    font-weight: 800;
    color: var(--color-gray-900);
}

@mixin text-nav {
    @include standard-text;
    font-size: 16px;
    color: var(--color-gray-800);
    font-weight: 600;
}

@mixin text-xs {
    @include standard-text;
    font-size: 12px;
}

@mixin text-s {
    @include standard-text;
    font-size: 14px;
}

@mixin text-m {
    @include standard-text;
    font-size: 16px;
}

@mixin text-lg {
    @include standard-text;
    font-size: 18px;
}

@mixin text-xl {
    @include standard-text;
    font-size: 20px;
}

@mixin text-lead {
    @include standard-text;
    font-size: 24px;
}

@mixin d1 {
    @include standard-heading;
    font-size: 80px;
}

@mixin d2 {
    @include standard-heading;
    font-size: 72px;
}

@mixin d3 {
    @include standard-heading;
    font-size: 64px;
}

@mixin d4 {
    @include standard-heading;
    font-size: 56px;
}

@mixin d5 {
    @include standard-heading;
    font-size: 48px;
}

@mixin d6 {
    @include standard-heading;
    font-size: 42px;
}

@mixin h1 {
    @include standard-heading;
    font-size: 40px;
}

@mixin h2 {
    @include standard-heading;
    font-size: 32px;
}

@mixin h3 {
    @include standard-heading;
    font-size: 28px;
}

@mixin h4 {
    @include standard-heading;
    font-size: 24px;
}

@mixin h5 {
    @include standard-heading;
    font-size: 20px;
}

@mixin h6 {
    @include standard-heading;
    font-size: 16px;
}
