﻿<section id="integrate-tools">
    <div class="container">
        <div class="title">
            <h1>Integrate Top Work Tools</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>

        <div class="tools">
            <div class="tool">
                <img src="~/images/icons/dropbox.svg" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool">
                <img src="~/images/icons/evernote.svg" />
                <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </div>
            <div class="tool">
                <img src="~/images/icons/gmail.svg" />
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="tool">
                <img src="~/images/icons/mailChimp.svg" />
                <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </div>
            <div class="tool">
                <img src="~/images/icons/trello.svg" />
                <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </div>
            <div class="tool">
                <img src="~/images/icons/slack.svg" />
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="tool">
                <img src="~/images/icons/trello.svg" />
                <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </div>
            <div class="tool">
                <img src="~/images/icons/zoom.svg" />
                <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </div>

        </div>

    </div>

</section>