<section class="switch">
    <img src="images/mockup.svg" alt="">
    <div class="switch-dark">
        <h1>Switch Between</h1>
    </div>
    <div class="switch-light">
        <h1>Light & Dark Mode</h1>

    </div>

</section>
