@model AccountDetailsViewModel
@{
    ViewData["Title"] = "Account Details";
}

<div class="container">
    <section id="account-details">

        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
        {
            <div class="alert">
                @ViewData["ErrorMessage"]
            </div>
        }

        <aside>
            <div class="profile-info">
                <img src="~/images/@Model.ProfileInfo" alt="@($" Account Details for {Model.ProfileInfo.FirstName} {Model.ProfileInfo.LastName}'s profile")" />
                <h5>@($"{Model.ProfileInfo.FirstName} {Model.ProfileInfo.LastName}")</h5>
                <p>@Model.ProfileInfo.Email</p>
            </div>

            <nav>
                <a class="btn-theme-s" asp-controller="Account" asp-action="Details"> <i class="fa-sharp fa-regular fa-gear"></i> Account Details</a>
                <a class="btn-gray" asp-controller="Auth" asp-action="SignOut"><i class="fa-duotone fa-arrow-right-from-bracket"></i> Sign out</a>
            </nav>
        </aside>

            <div class="details">
               @*  basic info section *@
                <section class="basic-info">
                <form id="BasicInfoForm" method="post" asp-controller="Account" asp-action="Details">
                        <h2>Account Details</h2>
                        <h5>Basic Info</h5>


                        <div class="content">
                            <div id="form-firstname" class="input-group">
                             <label asp-for="BasicInfoForm.FirstName"></label>
                            <input asp-for="BasicInfoForm.FirstName"  />
                            <span asp-validation-for="BasicInfoForm.FirstName"></span>
                            </div>
 
                            <div id="form-lastname" class="input-group">
                                <label asp-for="BasicInfoForm.LastName"></label>
                                <input asp-for="BasicInfoForm.LastName"  />
                                <span asp-validation-for="BasicInfoForm.LastName"></span>
                            </div>

                             <div id="form-email" class="input-group">
                                <label asp-for="BasicInfoForm.Email"></label>
                                <input asp-for="BasicInfoForm.Email"  />
                                <span asp-validation-for="BasicInfoForm.Email"></span>
                            </div>
                           
                            <div id="form-phone" class="input-group">
                             <label asp-for="BasicInfoForm.Phone"></label>
                            <span asp-validation-for="BasicInfoForm.Phone"></span>
                            <input asp-for="BasicInfoForm.Phone" />
                            </div>

                        <div id="form-bio" class="input-group">
                            <label asp-for="BasicInfoForm.Bio"></label>
                            <span asp-validation-for="BasicInfoForm.Bio"></span>
                            <input asp-for="BasicInfoForm.Bio" />
                        </div>



                        



                            <div class="form-buttons">
                                <button class="btn-gray" type="reset">Cancel</button>
                                <button class="btn-theme" type="submit">Save changes</button>
                             </div>

                        </div>

                    



                    </form>
                  

                </section>

                <hr />
                @* Address section *@

            <section class="address-info">
                <form id="AddressInfoForm" method="post" asp-controller="Account" asp-action="Details">
                    <h5>Address Info</h5>

                    <div class="content">
                        <div id="form-addressline1" class="input-group">
                            <label asp-for=AddressInfoForm.AddressLine_1></label>
                            <span asp-validation-for="AddressInfoForm.AddressLine_1"></span>
                            <input asp-for="AddressInfoForm.AddressLine_1" />
                        </div>



                        <div id="form-addressline2" class="input-group">
                            <label asp-for=AddressInfoForm.AddressLine_2></label>
                            <span asp-validation-for="AddressInfoForm.AddressLine_2"></span>
                            <input asp-for="AddressInfoForm.AddressLine_2" />
                        </div>



                        <div id="form-postalcode" class="input-group">
                            <label asp-for=AddressInfoForm.PostalCode></label>
                            <span asp-validation-for="AddressInfoForm.PostalCode"></span>
                            <input asp-for="AddressInfoForm.PostalCode" />
                        </div>



                        <div id="form-city" class="input-group">
                            <label asp-for=AddressInfoForm.City></label>
                            <span asp-validation-for="AddressInfoForm.City"></span>
                            <input asp-for="AddressInfoForm.City" />
                        </div>



@*                         <div id="form-bio" class="input-group">
                            <label asp-for=BasicInfo.Bio></label>
                            <span asp-validation-for="BasicInfo.Bio"></span>
                            <input asp-for="BasicInfo.Bio" />
                        </div> *@


@* 
                        <div id="form-bio" class="input-group">
                            <label>Bio <span>(optional)</span> </label>
                            <textarea name="bio" placeholder="Add a short bio.."></textarea>
                        </div> *@

                        <div class="form-buttons">
                            <button class="btn-gray" type="reset">Cancel</button>
                            <button class="btn-theme" type="submit">Save changes</button>
                        </div>

                    </div>





                </form>


            </section>

            </div>


    </section>
</div>